body {
	font-family: oswald;
	color: black;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
/*----------------------------------------------- ONGLET -----------------------------------------------*/
.onglet {
	text-decoration: none;
	color: black;
}
.onglet:hover {
	text-decoration: none;
	color: #ff4500;
}
.navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8%;
	font-size: 15px;
	background: #5bd5be;
	z-index: 5;
}
.espaceNomOnglet {
	width: 65%;
	padding: 0 0 0 10%;
}
/*----------------------------------------------- ACCUEIL -----------------------------------------------*/
.nomPrenom {
	position: absolute;
	top: 31%;
	right: 20%;
	color: #ff4500;
	text-align: center;
	line-height: 2;
	font-size: 80px;
	z-index: 2;
}
.nomPrenom:hover {
	transform:scale(1.3); /* taille du zoom de l'image */
}
.textAccueil {
	position: absolute;
	top: 67%;
	left: 30%;
	width: 50%;
	z-index: 2;
	text-align: center;
	font-size: 25px;
	color: seagreen;
	line-height: 2;
}
/*----------------------------------------------- LES FONTS -----------------------------------------------*/
.fondAccueil {
	position: fixed;
	left: 0;
	width: 100%;
	height: 120%;
	z-index: 1;
}
.fondAPropos {
	position: absolute;
	top: 110%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #e7e7e7;
	z-index: 1;
}
.moiImage {
	position: absolute;
	top: 10%;
	left: 34.75%;
	width: 30.5%;/*35*/
	height: 87%;/*100*/
	border-style: dotted;
	border-color: dimgrey;
	border-width: 4px;
	padding: 4px;
}
.fondEtudes{
	position: absolute;
	background-color: #cadfdc;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.fondParcours{
	position: absolute;
	background-color: #e7e7e7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.fondCompetences{
	position: absolute;
	background-color: #cadfdc;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.fondProjets{
	position: absolute;
	background-color: #e7e7e7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/*----------------------------------------------- IMAGES & LOGOS -----------------------------------------------*/
.drapeau {
	padding: 0 2% 2% 0;
	height: 70px;
	width: 140px;
}
.petitLogo {
	height: 55px;
	width: 55px;
}
.imgCentreInteret {
	width: 100px;
	height: 70px;
}
.imgCentreAtout {
	width: 40px;
	height: 40px;
}
/*----------------------------------------------- LES TITRES -----------------------------------------------*/
.titre {
	position: absolute;
	top: 13%;
	left: 2%;
	color: orangered;
	font-size: 40px;
	z-index: 2;
}
/*----------------------------------------------- A PROPOS -----------------------------------------------*/
.textAPropos {
	position: absolute;
	top: 25%;
	left: 2%;
	height: 100%;
	width: 29.5%;
	z-index: 1;
	text-align: justify;
	line-height: 2;
	font-size: 18px;
	color: black;
}
.interets {
	position: absolute;
	top: 10%;
	left: 69%;
	width: 30%;
	text-align: center;
	font-size: 30px;
	z-index: 1;
}
.atouts {
	position: absolute;
	top: 70%;
	left: 69%;
	width: 30%;
	text-align: center;
	font-size: 30px;
	z-index: 1;
}
.polaroide {
	position:absolute;
	margin:0;
	padding:0;
	text-align: center;
	z-index: 2;
}
.photoPolaroide {
	text-align:center;
	display:inline-block;
	list-style:none;
	border:solid 6px #fff;
	background-color: #fff;
	box-shadow:0 0 15px 0 #555;
	transition:all 1s ease;
	-o-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.photoPolaroide:nth-child(even){
	transform:rotate(10deg);
}
.photoPolaroide:nth-child(odd){
	transform:rotate(-10deg);
}
.light{
	border-radius:50%;
	position:absolute;
	left:0;
	right:0;
	width:700px;
	height:700px;
	background:#fff;
	filter:blur(100px);
	opacity:0.3;
	pointer-events:none;
}
/*----------------------------------------------- LES PROJETS -----------------------------------------------*/
