@media only screen and (max-width: 500px){
    .navigation{
        font-size: 10px;
        height: 5%;
    }
    /*----------------------------------------------- ACCUEIL -----------------------------------------------*/
    .textAccueil{
        top: 70%;
        left: 2%;
        width: 93%;
    }
    .infoNomPrenom {
        padding: 7% 0 0 0;
    }
    .textAccueilSlogan{
        padding: 15% 0 0 0;
    }
    /*----------------------------------------------- LES FONTS -----------------------------------------------*/
    .moiImage {
        top: 13%;
        left: 56%;
        width: 180px;
        height: 240px;
    }
    .fondAPropos {
        top: 110%;
        height: 120%;
    }
    .etudes{
        top: 230%;
        height: 120%;
    }
    .parcours{
        top: 330%;
        height: 150%;
    }
    .competences{
        top: 480%;
        height: 120%;
    }
    .projets{
        top: 600%;
        height: 120%;
    }
    /*----------------------------------------------- LES TITRES -----------------------------------------------*/
    .titre {
        top: 6%;
        font-size: 20px;
    }
    .separationTrait{
        padding: 20px 0 0 0;
    }
    /*----------------------------------------------- A PROPOS -----------------------------------------------*/
    .textAPropos {
        top: 11%;
        left: 2%;
        width: 51%;
        line-height: 1.3;
        font-size: 12px;
    }
    .interets {
        top: 51%;
        left: 2%;
        width: 96%;
        font-size: 20px;
    }
    .atouts {
        top: 76%;
        left: 2%;
        width: 96%;
        font-size: 20px;
    }
    .imgCentreInteret {
        width: 60px;
        height: 45px;
    }
    .imgCentreAtout {
        width: 40px;
        height: 40px;
    }
    .polaroide .photoPolaroide .info {
        font-size: 10px;
    }
    .polaroide .photoPolaroide .infoInterets {
        font-size: 10px;
    }
    /*----------------------------------------------- ETUDES -----------------------------------------------*/
    .wrap {
        width: 100%;
    }
    .divEtudes-1{
        top: 12%;
        left: 2%;
        width: 46%;
    }
    .divEtudes-2{
        top: 12%;
        right: 2%;
        width: 46%;
    }
    /*----------------------------------------------- PARCOURS -----------------------------------------------*/
    .card .imgBx p, .card .details p {
        font-size: 12px;
    }
    .divParcours-1{
        top: 12%;
        left: 2%;
        width: 46%;
        height: 250px;
    }
    .divParcours-2{
        top: 12%;
        left: 52%;
        width: 46%;
        height: 250px;
    }
    .divParcours-3{
        top: 41%;
        left: 2%;
        width: 46%;
        height: 250px;
    }
    .divParcours-4{
        top: 41%;
        left: 52%;
        width: 46%;
        height: 250px;
    }
    .divParcours-5{
        top: 70%;
        left: 2%;
        width: 46%;
        height: 250px;
    }
}