@media only screen and (max-width: 500px){
    .navigation{
        font-size: 10px;
        height: 5%;
    }
    /*----------------------------------------------- ACCUEIL -----------------------------------------------*/
    .textAccueil{
        top: 70%;
        left: 2%;
        width: 93%;
    }
    .infoNomPrenom {
        padding: 7% 0 0 0;
    }
    .textAccueilSlogan{
        padding: 15% 0 0 0;
    }
    /*----------------------------------------------- LES FONTS -----------------------------------------------*/
    .moiImage {
        top: 13%;
        left: 56%;
        width: 180px;
        height: 240px;
    }
    .moiImage:hover {
        transform: scale(1.5);
        margin-left: -110px;
        border: ghostwhite solid 10px;
        z-index: 3;
    }
    .fondAPropos {
        top: 110%;
        height: 130%;
    }
    .etudes{
        top: 240%;
        height: 100%;
    }
    .parcours{
        top: 340%;
        height: 150%;
    }
    .competences{
        top: 490%;
        height: 120%;
    }
    .projets{
        top: 610%;
        height: 120%;
    }
    /*----------------------------------------------- LES TITRES -----------------------------------------------*/
    .titre {
        top: 40px;
        font-size: 20px;
    }
    .separationTrait{
        padding: 20px 0 0 0;
    }
    /*----------------------------------------------- A PROPOS -----------------------------------------------*/
    .textAPropos {
        top: 80px;
        left: 2%;
        width: 51%;
        line-height: 1.3;
        font-size: 12px;
    }
    .interets {
        top: 410px;
        left: 2%;
        width: 96%;
        font-size: 20px;
    }
    .atouts {
        top: 600px;
        left: 2%;
        width: 96%;
        font-size: 20px;
    }
    .imgCentreInteret {
        width: 60px;
        height: 45px;
    }
    .imgCentreAtout {
        width: 40px;
        height: 40px;
    }
    .polaroide .photoPolaroide .info {
        font-size: 10px;
    }
    .polaroide .photoPolaroide .infoAtouts {
        font-size: 8px;
    }
    /*----------------------------------------------- ETUDES -----------------------------------------------*/
    .wrap {
        width: 100%;
    }
    .text{
        font-size: 12px;
    }
    .divEtudes-1{
        top: 80px;
        left: 2%;
        width: 46%;
    }
    .divEtudes-2{
        top: 80px;
        right: 2%;
        width: 46%;
    }
    /*----------------------------------------------- PARCOURS -----------------------------------------------*/
    .card .imgBx p, .card .details p {
        font-size: 12px;
    }
    .divParcours-1{
        top: 80px;
        left: 2%;
        width: 46%;
        height: 250px;
    }
    .divParcours-2{
        top: 80px;
        left: 52%;
        width: 46%;
        height: 250px;
    }
    .divParcours-3{
        top: 350px;
        left: 2%;
        width: 46%;
        height: 250px;
    }
    .divParcours-4{
        top: 350px;
        left: 52%;
        width: 46%;
        height: 250px;
    }
    .divParcours-5{
        top: 620px;
        left: 2%;
        width: 46%;
        height: 250px;
    }
}