.bg-homeBg-dark {
    background-image: url('../media/background-dark.jpeg');
}

.perso-bg-red-dark {
    background-color: #592d43;
    border: var(--var-red) 1px solid;
}

.perso-bg-yellow-dark {
    background-color: #444f27;
    border: var(--var-yellow) 1px solid;
}

.perso-bg-orange-dark {
    background-color: #542e2a;
    border: var(--var-orange) 1px solid;
}

.perso-bg-green-dark {
    background-color: #2e5b46;
    border: var(--var-green) 1px solid;
}

.perso-bg-purple-dark {
    background-color: #533060;
    border: var(--var-purple) 1px solid;
}

.perso-bg-blue-dark {
    background-color: #284c50;
    border: var(--var-blue) 1px solid;
}

.perso-bg-gray-dark {
    background-color: #5e5e5e;
    border: var(--var-gray) 1px solid;
}