.bg-homeBg-dark {
    background-image: url('../media/background-dark.jpeg');
}

.perso-bg-red-dark {
    background-color: #83184d;
}

.perso-bg-yellow {
    background-color: var(--var-yellow);
}

.perso-bg-orange {
    background-color: var(--var-orange);
}

.perso-bg-green {
    background-color: var(--var-green);
}

.perso-bg-purple {
    background-color: var(--var-purple);
}

.perso-bg-blue {
    background-color: var(--var-blue);
}

.perso-bg-gray {
    background-color: var(--var-gray);
}