:root {
    --var-gray2: rgb(68 86 108 / 1);
    --var-pink2: rgb(199 36 117 / 1);
    --var-orange2: rgb(233 100 100 / 1);
    --var-green2: rgb(72 194 146 / 1);
    --var-blue2: rgb(36 179 199 / 1);

    --var-red: #FFE4F2;
    --var-yellow: #EFFFC9;
    --var-orange: #FFDCD6;
    --var-green: #C9FFE7;
    --var-purple: #F4D6FF;
    --var-blue: #D6FBFF;
    --var-gray: #E1E1E1;
}

.bg-homeBg {
    background-image: url('../media/background.jpeg');
}

.container {
    background-color: white;
}

.containerHome {
    background-color: transparent !important;
}

.socialbtn {
    background-color: rgb(243 246 246 / 1);
    --tw-gradient-stops: var(--var-orange2), var(--var-pink2);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
}

.socialbtn:hover {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    color: white;
}

.mobile-menu-items {
    color: var(--var-gray2);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
}

.mobile-menu-items:hover {
    color: var(--var-orange2);
}

.mobile-menu-items-active {
    color: var(--var-orange2);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
}

.mobile-menu-items-active:hover {
    color: var(--var-orange2);
}

.dowanload-btn {
    background-image: linear-gradient(to right, var(--var-orange2), var(--var-pink2));
    color: white;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
}

.dowanload-btn:hover {
    background-image: linear-gradient(to left, var(--var-orange2), var(--var-pink2));
}

.menu-toggle-btn {
    background-color: white;
    background-image: linear-gradient(to right, var(--var-orange2), var(--var-pink2));
    color: rgb(0 0 0 / 1);
}

.menu-toggle-btn:hover {
    background-color: white !important;
    border: 2px solid var(--var-pink2);
}

.bg-close-light {
    background-image: url('../media/bouton-croix.png');
}

.menu-item-two-active {
    background-color: white;
    background-image: linear-gradient(to right, var(--var-orange2), var(--var-pink2));
    color: white;
}

.menu-item-two-active:hover {
    background-image: linear-gradient(to left, var(--var-orange2), var(--var-pink2));
    color: white;
}

.menu-item-two {
    background-color: white;
    color: var(--var-gray2);
}

.menu-item-two:hover {
    background-image: linear-gradient(to right, var(--var-orange2), var(--var-pink2));
    color: white;
}

.linkedin {
    color: #0072b1;
}

.facebook {
    color: #1C9CEA;
}

.text-gray-lite {
    color: var(--var-gray2);
}

.text-red{
    color: var(--var-pink2);
}

.text-orange {
    color: var(--var-orange2);
}

.text-green {
    color: var(--var-green2);
}

.text-blue {
    color: var(--var-blue2);
}

.perso-bg-red {
    background-color: var(--var-red) !important;
}

.perso-bg-yellow {
    background-color: var(--var-yellow) !important;
}

.perso-bg-orange {
    background-color: var(--var-orange) !important;
}

.perso-bg-green {
    background-color: var(--var-green) !important;
}

.perso-bg-purple {
    background-color: var(--var-purple) !important;
}

.perso-bg-blue {
    background-color: var(--var-blue) !important;
}

.perso-bg-gray {
    background-color: var(--var-gray) !important;
}