html {
    line-height: 1.7;
}

div, p, span, a {
    font-size: 16px;
    line-height: 1.7;
}

@media (max-width: 990px) {
    div, p, .text-xs, .text-sm, .text-xl, span, a {
        font-size: 28px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.about-box {
    display: flex;
    gap: 1rem;
    border-radius: 0.75rem;
    padding: 1.5rem;
}

.resume {
    cursor: default;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.socialbtn {
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-items {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .mobile-menu-items {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1280px) {
    .mobile-menu-items {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.mobile-menu-items-active {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .mobile-menu-items-active {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1280px) {
    .mobile-menu-items-active {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.dowanload-btn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 35px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.menu-toggle-btn {
    margin-left: 0.75rem;
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-btn:hover {
    background-image: none !important;
}

@media (min-width: 1024px) {
    .menu-toggle-btn {
        display: none;
        width: 50px;
    }
}

.close {
    position: absolute;
    display: block;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.menu-item-two-active {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 0.375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .menu-item-two-active {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1280px) {
    .menu-item-two-active {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.menu-item-two {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 0.375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .menu-item-two {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1280px) {
    .menu-item-two {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.hidden {
    display: none;
}

@media (min-width: 1024px) {
    .lg\:static {
        position: static;
    }

    .lg\:block {
        display: block;
    }
}