.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --var-red: #FFE4F2;
  --var-yellow: #EFFFC9;
  --var-orange: #FFDCD6;
  --var-green: #C9FFE7;
  --var-purple: #F4D6FF;
  --var-blue: #D6FBFF;
  --var-gray: #E1E1E1;
}

.perso-bg-red {
  background-color: var(--var-red);
}

.perso-bg-yellow {
  background-color: var(--var-yellow);
}

.perso-bg-orange {
  background-color: var(--var-orange);
}

.perso-bg-green {
  background-color: var(--var-green);
}

.perso-bg-purple {
  background-color: var(--var-purple);
}

.perso-bg-blue {
  background-color: var(--var-blue);
}

.perso-bg-gray {
  background-color: var(--var-gray);
}